


form {
    margin-top: 50px;
} 
.form-group {
    width: 400px;
    margin-bottom: 15px;
}

.animationPreviewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    width: 100%;
}